<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
		link(rel="stylesheet", href="scss/style.scss")
		link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css', rel='stylesheet', type='text/css')
		script(defer src="https://use.fontawesome.com/991e61a5a1.js")
		script(defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js")
		script(defer src="js/main.js")
		title Change ME!

	body
		header
			.wrap--lrg.flex
				.bar.flex
					h1.logo Just a Template
					nav.navMain
						ul
							li 
								i.fas.fa-hotel 
								|longeritem1
							li 
								i.fas.fa-suitcase 
								|kindaitem2
							li
								i.fas.fa-swimmer 
								|anotheritem3
							li 
								i.fas.fa-hot-tub 
								|someitem4
				ul.navSecond
					li Book Now
					li Login
		.hero
			.wrap
				h3 Find a Room
				p search our available rooms online
				form.searchForm
					h3 Search Rooms
					input(type="text")
					input(type="text")
					input(type="date")
					input(type="date")
					.info.flex
						.stayType
							input(type="radio", name="", value="1") 
							|Personal
							input(type="radio", name="", value="0") 
							|Business
						button.btn
							| Check Availability

		main
			.wrap
				.grid
					.cell
						